node_modules/
firebase-adminsdk.json
users.json
data.json
bonuses.json
profanitydoc.json

# Environment variables
.env
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
*.swp
*.swo
